<table class="table table-hover text-center table-striped">
    <thead class="bg-secondary text-white">
        <tr>
            <th>Sno</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts" (click)="selectContact(contact)">
            <td>{{contact.login.uuid.substr(-5)}}</td>
            <td>{{contact.name.first}}{{contact.name.last}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.location.city}}</td>
        </tr>
    </tbody>
</table>
