<div class="landing-page">
    <div class="wrapper">
        <div class="d-flex flex-column  justify-content-center align-content-center text-center h-100">
            <h5 class="display-4">Angular Routing</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed non recusandae esse fuga provident accusamus animi earum. Facere iusto corporis tempora ducimus doloribus quibusdam inventore nesciunt provident omnis quod ullam adipisci repudiandae, earum iste animi, libero architecto accusantium ipsa.</p>
        </div>
    </div>
</div>
